html {
    height: 100%;
}

body {
    background-color: #2f3035;
    background-image: url(img/R.jfif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

header {
    
    height: 118px;
    text-align: center;
}

nav {
    background-color: rgba(0, 0, 0, 0.338);
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
}

main {
    margin-left: 27.5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

footer {
    background-color:rgba(0, 0, 0, 0.644);
    height: 100px;
}

footer p {
    text-align: center;
    font-size: 10px;
    padding-top: 45px;
    padding-bottom: 45px;
}
